.SearchBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SearchBox-label {
    font-size: 20px;
}

.SearchBox_input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-top: 25px;
    font-size: 20px;
    outline: 1px solid #000;
    border: 1px solid #000;
}

.SearchBox_input:focus {
    outline: 1px solid blue;
    border: 1px solid blue;
}